body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
  margin: auto;
  width: 100%;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
  text-align: center;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 15px;
	cursor: pointer;
  margin-bottom: 20px;
  align-self: center;
}

body h5 {
  /*text-decoration: underline;*/
  text-align: center;
}

header {
  background: #f2f2f2;
  border: solid 1px #e6e6e6;
  margin: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 10;
}

header h4 {
  float: left;
  padding: 5px;
}

table {
  width: 90%;
}

th,
td {
  padding: 5px;
}

.buttons2 {
  float: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  font-size: 30px;
}

.container {
  width: 90%;
  margin: 5%;
  align-items: center;
  /*outline: 1px solid black;*/
  overflow: hidden;
}

.dropdown2 {
  float: right;
  padding: 5px;
}

.eq {
  max-width: 100%;
  height: auto;
}

.eq-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.image {
  width: 90%;
  align-self: center;
}

.link-white {
  color: white;
}
.link-black {
  color: black;
}

.nav {
  float: right;
  padding: 5px;
}

.nav ul li:hover {
  background-color: #ddd;
  color: black;
}

.nav ul li {
  display: inline-block;
  list-style-type: none;
  color: white;
  background: grey;
}

.navbar .container-fluid > .navbar-header {
  float: left;
  margin-right: 10px;
}

.navbar .navbar-nav {
  float: left;
  margin: auto;
}

.page-content {
  /*display: flex;*/
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
}

.result {
  font-size: 30px;
  text-align: center;
}

.table {
  outline: 1px solid black;
  max-width: 100%;
  table-layout: fixed;
}